In [7]:
import numpy as np
import pandas as pd
!pip install faker
from faker import Faker
import datetime
import matplotlib.pyplot as plt
import seaborn as sns

# Set a random seed for reproducibility
np.random.seed(42)

import numpy as np

# Define the range and student count
lower_bound = 0
upper_bound = 100
student_count = 1000000

# Generate random integer scores for each subject within the specified range
English_scores = np.random.randint(lower_bound, upper_bound + 1, student_count)
Maths_scores = np.random.randint(lower_bound, upper_bound + 1, student_count)
Physics_scores = np.random.randint(lower_bound, upper_bound + 1, student_count)
Chemistry_scores = np.random.randint(lower_bound, upper_bound + 1, student_count)
Biology_scores = np.random.randint(lower_bound, upper_bound + 1, student_count)
Social_Studies_scores = np.random.randint(lower_bound, upper_bound + 1, student_count)
Optional_scores = np.random.randint(lower_bound, upper_bound + 1, student_count)

# Initialize Faker with an Indian locale
fake = Faker('en_IN')

# Create a list of 100000 random Indian names
indian_names = [fake.name() for _ in range(student_count)]

# Create a single DataFrame to store the scores
data = {
    'StudentID': range(1, student_count + 1),
    'Student_Names': indian_names,
    'Gender': ['Male' if np.random.randint(0, 2) == 0 else 'Female' for _ in range(student_count)],
    'Age': [np.random.randint(14,16) for _ in range(student_count)],
    'Attendance_Percentage': [np.random.uniform(70, 100) for _ in range(student_count)],
    'English_Score': English_scores,
    'Maths_Score': Maths_scores,
    'Physics_Score': Physics_scores,
    'Chemistry_Score' : Chemistry_scores,
    'Biology_Score' : Biology_scores,
    'Social_Studies_Score' : Social_Studies_scores,
    'Optional_Score': Optional_scores
}

df = pd.DataFrame(data)

# Simulated Graduation Year
df['Graduation_Year'] = np.random.randint(2023, 2026, size=student_count)

# Display the first few rows of the DataFrame
print(df.head())

Requirement already satisfied: faker in /usr/local/lib/python3.10/dist-packages (20.1.0)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->faker) (1.16.0)
   StudentID     Student_Names  Gender  Age  Attendance_Percentage  \
0          1       Eshani Vora  Female   14              79.984814
1          2       Aarna Kakar  Female   14              90.021256
2          3  Uthkarsh Goswami  Female   15              86.351724
3          4    Reyansh Bhagat    Male   15              95.933699
4          5  Neysa Srinivasan  Female   14              96.932440

   English_Score  Maths_Score  Physics_Score  Chemistry_Score  Biology_Score  \
0             51           19              8               12             13
1             92           62             84               80             62
2             14           67             68               36             93
3             71           26             18               36             56
4             60           43             60               61             21

   Social_Studies_Score  Optional_Score  Graduation_Year
0                    49              88             2024
1                    11              15             2025
2                    37              37             2023
3                    62              38             2023
4                    36              85             2025

In [8]:
list(df.columns)

['StudentID',
 'Student_Names',
 'Gender',
 'Age',
 'Attendance_Percentage',
 'English_Score',
 'Maths_Score',
 'Physics_Score',
 'Chemistry_Score',
 'Biology_Score',
 'Social_Studies_Score',
 'Optional_Score',
 'Graduation_Year']

In [9]:
df.iloc[0]

StudentID                          1
Student_Names            Eshani Vora
Gender                        Female
Age                               14
Attendance_Percentage      79.984814
English_Score                     51
Maths_Score                       19
Physics_Score                      8
Chemistry_Score                   12
Biology_Score                     13
Social_Studies_Score              49
Optional_Score                    88
Graduation_Year                 2024
Name: 0, dtype: object

In [10]:
# num_students = 1000000


# average_midterm_score = np.mean(midterm_scores)
# average_quarterly_score = np.mean(quarterly_scores)
# average_preboard_score = np.mean(preboard_scores)
# average_final_score = np.mean(final_scores)

# median_midterm_score = np.median(midterm_scores)
# median_quarterly_score = np.median(quarterly_scores)
# median_preboard_score = np.median(preboard_scores)
# median_final_score = np.median(final_scores)

# pass_rate_midterm = sum(midterm_scores >= 60) / num_students
# pass_rate_quarterly = sum(quarterly_scores >= 60) / num_students
# pass_rate_preboard = sum(preboard_scores >= 60) / num_students
# pass_rate_final = sum(final_scores >= 60) / num_students

# top_10_percent_midterm = np.percentile(midterm_scores, 90)
# top_10_percent_quarterly = np.percentile(quarterly_scores, 90)
# top_10_percent_preboard = np.percentile(preboard_scores, 90)
# top_10_percent_final = np.percentile(final_scores, 90)

# bottom_10_percent_midterm = np.percentile(midterm_scores, 10)
# bottom_10_percent_quarterly = np.percentile(quarterly_scores, 10)
# bottom_10_percent_preboard = np.percentile(preboard_scores, 10)
# bottom_10_percent_final = np.percentile(final_scores, 10)

# std_deviation_midterm = np.std(midterm_scores)
# std_deviation_quarterly = np.std(quarterly_scores)
# std_deviation_preboard = np.std(preboard_scores)
# std_deviation_final = np.std(final_scores)

# # Print KPIs
# print("KPIs based on Student Scores:")
# print("1. Average Midterm Score:", average_midterm_score)
# print("2. Average Quarterly Score:", average_quarterly_score)
# print("3. Average Preboard Score:", average_preboard_score)
# print("4. Average Final Score:", average_final_score)
# print("5. Median Midterm Score:", median_midterm_score)
# print("6. Median Quarterly Score:", median_quarterly_score)
# print("7. Median Preboard Score:", median_preboard_score)
# print("8. Median Final Score:", median_final_score)
# print("9. Pass Rate (Midterm):", pass_rate_midterm)
# print("10. Pass Rate (Quarterly):", pass_rate_quarterly)
# print("11. Pass Rate (Preboard):", pass_rate_preboard)
# print("12. Pass Rate (Final):", pass_rate_final)
# print("13. Top 10% Score (Midterm):", top_10_percent_midterm)
# print("14. Top 10% Score (Quarterly):", top_10_percent_quarterly)
# print("15. Top 10% Score (Preboard):", top_10_percent_preboard)
# print("16. Top 10% Score (Final):", top_10_percent_final)
# print("17. Bottom 10% Score (Midterm):", bottom_10_percent_midterm)
# print("18. Bottom 10% Score (Quarterly):", bottom_10_percent_quarterly)
# print("19. Bottom 10% Score (Preboard):", bottom_10_percent_preboard)
# print("20. Bottom 10% Score (Final):", bottom_10_percent_final)
# print("21. Standard Deviation (Midterm):", std_deviation_midterm)
# print("22. Standard Deviation (Quarterly):", std_deviation_quarterly)
# print("23. Standard Deviation (Preboard):", std_deviation_preboard)
# print("24. Standard Deviation (Final):", std_deviation_final)

In [11]:
df.to_csv('/content/student_marks.csv', index=False)

In [12]:
!pip install pyspark

from pyspark.sql import SparkSession

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=18b0bb7ce14c91f3db058bd64025faf5d7a8146a981bd04fb99cd77d9b3e9da3
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [13]:
spark = SparkSession.builder.appName("MySparkSession").getOrCreate()

In [14]:
df = spark.read.csv("/content/student_marks.csv", header=True, inferSchema=True)

In [15]:
df.createOrReplaceTempView("my_table")

In [16]:
#Calculate the average age of students:

query1 = "SELECT AVG(Age) AS AvgAge FROM my_table"

spark.sql(query1).show()

+---------+
|   AvgAge|
+---------+
|14.500605|
+---------+

In [17]:
#Calculate the average age of students:

query2 = """
SELECT AVG(Age) AS AvgAge
FROM my_table
"""

spark.sql(query2).show()

+---------+
|   AvgAge|
+---------+
|14.500605|
+---------+

In [18]:
#Calculate the average attendance percentage by gender:

query4 = """
SELECT Gender, AVG(Attendance_Percentage) AS AvgAttendance
FROM my_table
GROUP BY Gender
"""

spark.sql(query4).show()

+------+----------------+
|Gender|   AvgAttendance|
+------+----------------+
|Female|84.9890873267074|
|  Male|85.0013850822495|
+------+----------------+

In [19]:
#Find the highest and lowest Maths scores:

query5 = """
SELECT
  MAX(`Maths_Score`) AS HighestMathsScore,
  MIN(`Maths_Score`) AS LowestMathsScore
FROM my_table
"""

spark.sql(query5).show()

+-----------------+----------------+
|HighestMathsScore|LowestMathsScore|
+-----------------+----------------+
|              100|               0|
+-----------------+----------------+

In [20]:
list(df.columns)

['StudentID',
 'Student_Names',
 'Gender',
 'Age',
 'Attendance_Percentage',
 'English_Score',
 'Maths_Score',
 'Physics_Score',
 'Chemistry_Score',
 'Biology_Score',
 'Social_Studies_Score',
 'Optional_Score',
 'Graduation_Year']

In [21]:
query = """
SELECT StudentID, Maths_Score
FROM my_table
ORDER BY Maths_Score DESC
LIMIT 10
"""
spark.sql(query).show()

+---------+-----------+
|StudentID|Maths_Score|
+---------+-----------+
|   530201|        100|
|      804|        100|
|   531340|        100|
|     2083|        100|
|   530237|        100|
|     1172|        100|
|   530091|        100|
|       29|        100|
|   530364|        100|
|     1233|        100|
+---------+-----------+